block entry
    form(name="entry", action="/entry/create", method="post", enctype="application/x-www-form-urlencoded").custom
        textarea(name="entry", ng-model='title.text')
        input(type="hidden", name="type", value="normal")
        input(type="hidden", name="userId", value="52529dad0e709b7031fe3282")
        br
        input(type="submit", value="Send entry").button.right