extends layout 

append htmltag
    html(ng-app='WeTalk')
append header
    include header
append content
    div(ng-controller='IndexController')
        .row
            .col-md-offset-2.col-md-8
                h4 Insert the text you want
                include entries/entry
        .row
            .col-md-offset-2.col-md-8
                div(ng-view)
                    include entries/entries

append scripts
    script(type='text/javascript', src="/javascripts/core/controllers/index_controller.js")
    script(type='text/javascript', src="/javascripts/core/services/socketio_service.js")
    script(type='text/javascript', src="/javascripts/core/services/rest_service.js")