doctype 5
block htmltag
    html
        head
            title= title

            // Styles files
            link(rel="stylesheet", href='/stylesheets/vendor/bootstrap/css/bootstrap.min.css')
            link(rel='stylesheet', href='/stylesheets/style.css')

            // Custom styles
            each styleFile in styleFiles
                link(rel='stylesheet', href= styleFile)

            // JavaScripts files
            script(type='text/javascript', src="/socket.io/socket.io.js") 
            script(type='text/javascript', src="/javascripts/vendor/angular.js")
            script(type='text/javascript', src="/javascripts/vendor/angular-resource.js")
        body
            .container
                .row
                    #header.col-md-12
                        block header
                .row
                    #wrapper.col-md-offset-2.col-md-8
                        #content
                            block content
                                block entry
                        block widgets
            block footer

            block scripts
                script(type='text/javascript', src="/javascripts/core/app.js")
                script(type='text/javascript', src="/javascripts/vendor/jquery.js")                
                script(type='text/javascript', src="/javascripts/vendor/bootstrap/js/bootstrap.min.js")                               

            // Custom javascripts
            each jsFile in jsFiles
                script(type='text/javascript', src= jsFile)
                    
            script(type='text/javascript').
                $(document).foundation();